<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="primary">          
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <iframe width="530" height="315" class="controls"
          [src]="getSafeUrl(filme?.url)" frameborder="0" 
          allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </ion-item>
    <ion-card-header>      
      <ion-card-title style="text-align: center;">{{filme?.name | uppercase}}</ion-card-title>
    </ion-card-header>    
  </ion-card>
</ion-content>
